<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696417648981-um1daj7f8mo4544t7kqfnbnsu53rn0gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696417648981-um1daj7f8mo4544t7kqfnbnsu53rn0gc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696417648981-inv4jh7sm9m16dq1trfcrun8b3hmkl1t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDS-lBVJ89ETu-zQwSPaIARmciS-CF5Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>696417648981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.SironiSprocati.MacroTracker</string>
	<key>PROJECT_ID</key>
	<string>macrotracker-863f3</string>
	<key>STORAGE_BUCKET</key>
	<string>macrotracker-863f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696417648981:ios:124f29e6c777614b2befdc</string>
	<key>DATABASE_URL</key>
	<string>https://macrotracker-863f3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>